<%# Base page for displaying full page individual posts %>
<%- include("../partials/web-dev-header") -%>
<h1>Projects made Using node.js</h1>
<button type="button" onclick="location.href='/resume-download'" class="btn btn-primary btn-lg cust-a-button">Resume</button>
<button type="button" onclick="location.href='/webdev'" class="btn btn-primary btn-lg">Web Development Projects</button>
<button type="button" class="btn btn-primary btn-lg">Systems Development Projects</button><br><br>
<button type="button" onclick="location.href='/resume-download'" class="btn btn-primary btn-lg cust-a-button">Resume</button>
<button type="button" onclick="location.href='/webdev'" class="btn btn-primary btn-lg">Web Development Projects</button>
<button type="button" class="btn btn-primary btn-lg">Systems Development Projects</button><br>
<hr>
<img src="/images/nodejs.png" alt="nodejs logo">
<%- include("../partials/footer") -%>