<%# Base page for displaying full page individual posts %>
<%- include("../partials/web-dev-header") -%>
<h1>Web Development Projects</h1>
<p>These sub-pages are dedicated to showing my work in the area of web development.
    Please use the menu options in the top-right area of the screen to dril down into what
    you're looking for.
</p>
<hr>
<%- include("../partials/footer") -%>
