<%# Header partials %>
<%- include("../partials/header") -%>
<section id="certifications" class="white-section">
    <h1>Certifications</h1>
    <p>A listing of my certifications from various institutions and governing bodies</p>
    <div class="row">

       <!-- Axelos  -->
       <div style="text-align: center;" class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h2 class="price-text card-title pricing-card-title">AXELOS</h2>
            <img class="img-logo" src="/images/axelos.png" alt="AXELOS Logo">
            <ul class="list-unstyled mt-3 mb-4">
              <li>ITIL v4 Certified</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Amazon -->
      <div style="text-align: center;" class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h2 class="price-text card-title pricing-card-title">Amazon AWS</h2>
            <img style="text-align: center;" src="/images/aws.png" alt="Amazon Logo">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Certified AWS Cloud Solutions Architect - Associate </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Government of Ontario -->
      <div style="text-align: center;" class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h2 class="price-text card-title pricing-card-title">Government of Ontario</h2>
            <img src="/images/rsz_ontario2x-print.png" alt="Government of Ontario">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Certified Private Investigator</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <!-- Government of Canada -->
      <div class="row">
      <div style="text-align: center;" class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h2 class="price-text card-title pricing-card-title">Government of Canada</h2>
            <img src="images/rsz_cangov.jpg" alt="Government of Canada">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Certified Recreational RPAS Pilot</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Salesforce -->
      <div style="text-align: center;" class="col-lg-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          </div>
          <div class="card-body">
            <h2 class="price-text card-title pricing-card-title">Salesforce</h2>
            <img src="/images/salesforce.jpg" alt="Salesforce Logo">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Certified Salesforce Administrator</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%# Header partials %>
<%- include("../partials/footer") -%>