<%# Base Contact page %>
<%- include("../partials/header") -%>
<h1>Contact</h1>
<p class="callout-text">Contact me at <a href="mailto:handy.jordan@gmail.com?Subject=Inquiry" target="_top">handy.jordan@gmail.com</a></p>
<%- include("../partials/footer") -%>