<%# Header partials %>
<%- include("../partials/header") -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>
<hr />
<img class="profile-img" src="https://avatars1.githubusercontent.com/u/6423379?s=400&u=b91233d163684fe4e2f411a84663522092794782&v=4" alt="Jordan's Bitmoji">
<p class="callout-text">Contact me at <a href="mailto:handy.jordan@gmail.com?Subject=Inquiry" target="_top">handy.jordan@gmail.com</a></p>
<%# Footer partials %>
<%- include("../partials/footer") -%>
