<%# Header partials %>
<%- include("../partials/header") -%>
<h1>Portfolio</h1>
<p>The components of my portfolio are kept at various locations on the web.  Choose the button that best describes what you're searching for</p>
<hr />
<button type="button" onclick="location.href='/resume-download'" class="btn btn-primary btn-lg cust-a-button">Resume</button>
<button type="button" onclick="location.href='/webdev'" class="btn btn-primary btn-lg">Web Development Projects</button>
<button type="button" class="btn btn-primary btn-lg">Systems Development Projects</button>
<hr>
<button type="button" onclick="location.href='http://www.github.com/jordanhandy'" class="btn btn-dark btn-lg"><i class="fab fa-github"></i> Github</button>
<button type="button" onclick="location.href='https://www.npmjs.com/~jordanhandy'" class="btn btn-danger btn-lg"><i class="fab fa-npm"></i> npm</button>
<br>
<%# Footer partials %>
<%- include("../partials/footer") -%>
